<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href=static/chat.css>
</head>
<body>
    <div class="chat-container">
        <div id="chatbox" class="chatbox"></div>
        <input type="text" id="userInput" placeholder="Ask something..." autocomplete="off">
        <button onclick="sendMessage()">Send</button>
    </div>
    <script src="static/chat.js"> </script>
</body>
</html>
